services:
  service-registry:
    build:
      context: ./backend/ServiceRegistry
      dockerfile: Dockerfile
    container_name: service-registry
    ports:
      - "8761:8761"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
    networks:
      - tiffino-net
#api
  api-gateway:
    build:
      context: ./backend/ApiGateway
      dockerfile: Dockerfile
    container_name: api-gateway
    depends_on:
      - service-registry
      - admin-login
      - admin-meal
      - admin-subscription
      - admin-order
      - admin-review
      - user-auth
      - user-menu
      - user-cart
      - user-subscription
      - user-review
      - user-order
      - cloud-kitchen-super-admin
    ports:
      - "9090:9090"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
    networks:
      - tiffino-net
#admin
  admin-login:
    build:
      context: ./backend/admin-log
      dockerfile: Dockerfile
    container_name: admin-login
    depends_on:
      - service-registry
    ports:
      - "9081:9081"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
    networks:
      - tiffino-net

  admin-meal:
    build:
      context: ./backend/tiffino_admin_meal
      dockerfile: Dockerfile
    container_name: admin-meal
    depends_on:
      - service-registry
    ports:
      - "9082:9082"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
    networks:
      - tiffino-net

  admin-order:
    build:
      context: ./backend/Tiffino_Admin_order_delivery
      dockerfile: Dockerfile
    container_name: admin-order
    depends_on:
      - service-registry
    ports:
      - "9083:9083"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
    networks:
      - tiffino-net

  admin-subscription:
    build:
      context: ./backend/Tiffino_admin_Subscription
      dockerfile: Dockerfile
    container_name: admin-subscription
    depends_on:
      - service-registry
    ports:
      - "9084:9084"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
    networks:
      - tiffino-net

  admin-review:
    build:
      context: ./backend/tiffino_admin_review
      dockerfile: Dockerfile
    container_name: admin-review
    depends_on:
      - service-registry
    ports:
      - "9085:9085"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
    networks:
      - tiffino-net


  cloud-kitchen-super-admin:
    build:
      context: ./backend/cloud-kitchen-SUPER-ADMIN
      dockerfile: Dockerfile
    container_name: cloud-kitchen-super-admin
    depends_on:
      - service-registry
    ports:
      - "8080:8080"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
    networks:
      - tiffino-net
#user
  user-auth:
    build:
      context: ./backend/Tiffino-User_Login
      dockerfile: Dockerfile
    container_name: user-auth
    depends_on:
      - service-registry
    ports:
      - "8081:8081"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
    networks:
      - tiffino-net

  user-menu:
    build:
      context: ./backend/tiffino_user_meal
      dockerfile: Dockerfile
    container_name: user-menu
    depends_on:
      - service-registry
    ports:
      - "8082:8082"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
    networks:
      - tiffino-net

  user-cart:
    build:
      context: ./backend/Tiffino_User_Cart
      dockerfile: Dockerfile
    container_name: user-cart
    depends_on:
      - service-registry
    ports:
      - "8083:8083"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
    networks:
      - tiffino-net

  user-subscription:
    build:
      context: ./backend/Tiffino_user_subscription
      dockerfile: Dockerfile
    container_name: user-subscription
    depends_on:
      - service-registry
    ports:
      - "8084:8084"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
    networks:
      - tiffino-net

  user-review:
    build:
      context: ./backend/tiffino_user_review
      dockerfile: Dockerfile
    container_name: user-review
    depends_on:
      - service-registry
    ports:
      - "8085:8085"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
    networks:
      - tiffino-net

  user-order:
    build:
      context: ./backend/User_Order-service
      dockerfile: Dockerfile
    container_name: user-order
    depends_on:
      - service-registry
    ports:
      - "8086:8086"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://service-registry:8761/eureka/
    networks:
      - tiffino-net
#frontend
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    depends_on:
      - api-gateway
    ports:
      - "80:80"
    networks:
      - tiffino-net

networks:
  tiffino-net:
    driver: bridge
